body {
  color: $body-color;
  background: $body-background;
  font-size: 1em;
  font-family: serif;
  font-weight: 400;
  line-height: 1.2;
}

h1, h2, h3, h4 {
  margin: .7em 0 0.2em;
  font-weight: inherit;
  line-height: 1.1;
  padding: 0;
}

h1 {
  color: $h1-color;
  margin-top: 0;
  font-size: 3em;
}

h2 {
  color: $h2-color;
  font-size: 2.4em;
}

h3 {
  color: $h3-color;
  font-size: 1.8em;
}

h4 {
  color: $h4-color;
  font-size: 1.414em;
}

h5 {
  color: $h5-color;
}

h6 {
  color: $h6-color;
}

a {
  color: $a-color;
}

code {
  color: $code-color;
  background: $code-background;
}

small, .font_small {
  font-size: 0.707em;
}

th {
  background: $th-background;
  padding: 1em;
}

blockquote {
  color: $blockquote-color;
}

hr {
  border: 0;
  border-top: 3px dashed $hr-color;
}

pre {
  background: $pre-background;
  color: $pre-color;
  display: block;
  word-wrap: break-word;
  padding: 10px;
  border-radius: 10px;
}