/*********************************************
 *  Darcula1 Color Scheme
 *********************************************/

$body-background: #3C4556;
$body-color: #BCC2C9;

$h1-color: #50FA7B;
$h2-color: #8BE9FD;
$h3-color: #ccc;
$h4-color: #FFB86C;
$h5-color: #69b6ca;
$h6-color: #d5995e;

$pre-background: #707a8d;
$pre-color: #fff;
$a-color: #47DD71;
$code-background: #707a8d;
$code-color: #fff;
$th-background: #3A3C4E;
$blockquote-color: #a5abb2;
$hr-color: #EA51B2;

@import "template";