/*********************************************
 *  Dark Color Scheme
 *********************************************/

$body-background: #222;
$body-color: #ccc;

$h1-color: #fff;
$h2-color: #efefef;
$h3-color: #ccc;
$h4-color: #999;
$h5-color: #999;
$h6-color: #999;

$pre-background: #666;
$pre-color: #fff;
$a-color: #fff;
$code-background: #666;
$code-color: #fff;
$th-background: #3A3C4E;
$blockquote-color: #a5abb2;
$hr-color: #999;

@import "template";