/*********************************************
 *  Intellij Color Scheme
 *********************************************/

$body-background: #fff;
$body-color: #333;

$h1-color: #6d1781;
$h2-color: #252595;
$h3-color: #558c02;
$h4-color: #999;
$h5-color: #252595;
$h6-color: #6d1781;

$pre-background: #707a8d;
$pre-color: #fff;
$a-color: #558c02;
$code-background: #707a8d;
$code-color: #fff;
$th-background: #558c02;
$blockquote-color: #558c02;
$hr-color: #252595;

@import "template";