/*********************************************
 *  Simple Color Scheme
 *********************************************/

$body-background: #fff;
$body-color: #222;

$h1-color: #114491;
$h2-color: #22519b;
$h3-color: #6690d1;
$h4-color: #97b2db;
$h5-color: #adb9cc;
$h6-color: #adb9cc;

$pre-background: #333;
$pre-color: #fff;
$a-color: #004d8c;
$code-background: #333;
$code-color: #fff;
$th-background: #efefef;
$blockquote-color: #222;
$hr-color: #252595;

@import "template";